# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# project files folder
project

# Autoconf
config.log

# NPM
npm-debug.log
/node_modules/*
!/node_modules/qminer.js


# project files from Eclipse
.project
.cproject
.settings
.metadata
# project files from NetBeans
nbproject

# build results
build
doc
Doxyfile-tmp
log-doxygen.txt
temp
cppdoc

qm.conf
db
*.dat
*.opensdf
*.sdf
*.lib
*.user
*.suo
Debug
Release
lock
jsdoc_1.txt
jsdoc_2.txt
/examples/twitter/sandbox/twitter/1h_tweets.json
/examples/twitter/sandbox/twitter/graph1.gv
/examples/twitter/sandbox/twitter/graph2.gv
/examples/twitter/sandbox/twitter/svmFilter.bin
/examples/twitter/sandbox/twitter/svmSentiment.bin
timeseriesHack
twitterHack
.DS_store
/qminer.aps
/qminer.rc
/resource.h
/test/javascript/tesi.batjavascriptdebug
javascriptdebug

linalg - Copy

timeseries - Copy

tesi
/src/glib/net/sock - novak.h

/src/qminer/intellisense/backup_linalg_handmade.txt
/src/qminer/intellisense/cut_out.txt
/src/qminer/intellisense/intelli_body.js
/src/qminer/intellisense/intelli_body2.js
/src/qminer/intellisense/intelli_head.js_
/src/qminer/intellisense/intelli_tail_old.js
/src/qminer/intellisense/intellisense.js
/src/qminer/intellisense/intellitesiOut.js
/src/qminer/intellisense/intellitesi_body.js
/src/qminer/intellisense/problems.js
/src/qminer/intellisense/test.py
/src/qminer/intellisense/time.primer

unique_fields

timeseriesPlot - Copy

timeseries - Copy (2)

old

/examples/graphextract/cobisg.txt

bug

quax
elycite

symphony

symphony-code

out
/test/cpp/run-all-tests
/test/cpp/test1.txt
/test/cpp/test.txt
cha

.DC_Store
autom4te.cache
autom4te.cache
nodetempdoc
/x64

/test/nodejs/*.bin
/test/nodejs/g.html
db1
db2
binding-1.gyp
/test/nodejs/.tmpclfile
/test/nodejs/tmpclfile
/test/nodejs/tmpclfile2
/test/nodejs/recordset_plain.js
/test/nodejs/file.txt
/nodedoc - Copy (2)/analyticsdoc.js
/nodedoc - Copy (2)/analyticsdoc.js.html
/nodedoc - Copy (2)/css/baseline.css
/nodedoc - Copy (2)/datasetsdoc.js
/nodedoc - Copy (2)/datasetsdoc.js.html
/nodedoc - Copy (2)/fsdoc.js
/nodedoc - Copy (2)/fsdoc.js.html
/nodedoc - Copy (2)/htdoc.js
/nodedoc - Copy (2)/htdoc.js.html
/nodedoc - Copy (2)/index.html
/nodedoc - Copy (2)/ladoc.js
/nodedoc - Copy (2)/ladoc.js.html
/nodedoc - Copy (2)/ladoc_structures.js
/nodedoc - Copy (2)/module-analytics-metrics.ClassificationScore.html
/nodedoc - Copy (2)/module-analytics-metrics.MeanAbsoluteError.html
/nodedoc - Copy (2)/module-analytics-metrics.MeanAbsolutePercentageError.html
/nodedoc - Copy (2)/module-analytics-metrics.MeanError.html
/nodedoc - Copy (2)/module-analytics-metrics.MeanSquareError.html
/nodedoc - Copy (2)/module-analytics-metrics.PredictionCurve.html
/nodedoc - Copy (2)/module-analytics-metrics.R2Score.html
/nodedoc - Copy (2)/module-analytics-metrics.RootMeanSquareError.html
/nodedoc - Copy (2)/module-analytics-metrics.html
/nodedoc - Copy (2)/module-analytics.HierarchMarkov.html
/nodedoc - Copy (2)/module-analytics.KMeans.html
/nodedoc - Copy (2)/module-analytics.LogReg.html
/nodedoc - Copy (2)/module-analytics.NNet.html
/nodedoc - Copy (2)/module-analytics.NearestNeighborAD.html
/nodedoc - Copy (2)/module-analytics.OneVsAll.html
/nodedoc - Copy (2)/module-analytics.PCA.html
/nodedoc - Copy (2)/module-analytics.PropHazards.html
/nodedoc - Copy (2)/module-analytics.RecLinReg.html
/nodedoc - Copy (2)/module-analytics.RidgeReg.html
/nodedoc - Copy (2)/module-analytics.SVC.html
/nodedoc - Copy (2)/module-analytics.SVR.html
/nodedoc - Copy (2)/module-analytics.Sigmoid.html
/nodedoc - Copy (2)/module-analytics.html
/nodedoc - Copy (2)/module-datasets.html
/nodedoc - Copy (2)/module-fs.FIn.html
/nodedoc - Copy (2)/module-fs.FOut.html
/nodedoc - Copy (2)/module-fs.html
/nodedoc - Copy (2)/module-ht.IntFltMap.html
/nodedoc - Copy (2)/module-ht.IntIntMap.html
/nodedoc - Copy (2)/module-ht.IntStrMap.html
/nodedoc - Copy (2)/module-ht.StrFltMap.html
/nodedoc - Copy (2)/module-ht.StrIntMap.html
/nodedoc - Copy (2)/module-ht.StrStrMap.html
/nodedoc - Copy (2)/module-ht.html
/nodedoc - Copy (2)/module-la.BoolVector.html
/nodedoc - Copy (2)/module-la.IntVector.html
/nodedoc - Copy (2)/module-la.Matrix.html
/nodedoc - Copy (2)/module-la.SparseMatrix.html
/nodedoc - Copy (2)/module-la.SparseVector.html
/nodedoc - Copy (2)/module-la.StrVector.html
/nodedoc - Copy (2)/module-la.Vector.html
/nodedoc - Copy (2)/module-la.html
/nodedoc - Copy (2)/module-qm.Base.html
/nodedoc - Copy (2)/module-qm.CircularRecordBuffer.html
/nodedoc - Copy (2)/module-qm.FeatureSpace.html
/nodedoc - Copy (2)/module-qm.Iterator.html
/nodedoc - Copy (2)/module-qm.Record.html
/nodedoc - Copy (2)/module-qm.RecordSet.html
/nodedoc - Copy (2)/module-qm.Store.html
/nodedoc - Copy (2)/module-qm.StreamAggr.html
/nodedoc - Copy (2)/module-qm.html
/nodedoc - Copy (2)/module-statistics.html
/nodedoc - Copy (2)/pictures/merger.gif
/nodedoc - Copy (2)/qminer_aggrdoc.js
/nodedoc - Copy (2)/qminer_aggrdoc.js.html
/nodedoc - Copy (2)/qminerdoc.js
/nodedoc - Copy (2)/qminerdoc.js.html
/nodedoc - Copy (2)/scripts/jquery.cookie.js
/nodedoc - Copy (2)/scripts/jquery.min.js
/nodedoc - Copy (2)/scripts/jsdoc-toc.js
/nodedoc - Copy (2)/scripts/lang-css.js
/nodedoc - Copy (2)/scripts/linenumber.js
/nodedoc - Copy (2)/scripts/prettify.js
/nodedoc - Copy (2)/scripts/scrollanchor.js
/nodedoc - Copy (2)/scripts/tree.jquery.js
/nodedoc - Copy (2)/statdoc.js
/nodedoc - Copy (2)/statdoc.js.html
/nodedoc - Copy/analyticsdoc.js
/nodedoc - Copy/analyticsdoc.js.html
/nodedoc - Copy/css/baseline.css
/nodedoc - Copy/datasetsdoc.js
/nodedoc - Copy/datasetsdoc.js.html
/nodedoc - Copy/fsdoc.js
/nodedoc - Copy/fsdoc.js.html
/nodedoc - Copy/htdoc.js
/nodedoc - Copy/htdoc.js.html
/nodedoc - Copy/index.html
/nodedoc - Copy/ladoc.js
/nodedoc - Copy/ladoc.js.html
/nodedoc - Copy/ladoc_structures.js
/nodedoc - Copy/module-analytics-metrics.MeanAbsoluteError.html
/nodedoc - Copy/module-analytics-metrics.MeanAbsolutePercentageError.html
/nodedoc - Copy/module-analytics-metrics.MeanError.html
/nodedoc - Copy/module-analytics-metrics.MeanSquareError.html
/nodedoc - Copy/module-analytics-metrics.R2Score.html
/nodedoc - Copy/module-analytics-metrics.RootMeanSquareError.html
/nodedoc - Copy/module-analytics-metrics.html
/nodedoc - Copy/module-analytics.HierarchMarkov.html
/nodedoc - Copy/module-analytics.KMeans.html
/nodedoc - Copy/module-analytics.LogReg.html
/nodedoc - Copy/module-analytics.NearestNeighborAD.html
/nodedoc - Copy/module-analytics.OneVsAll.html
/nodedoc - Copy/module-analytics.PCA.html
/nodedoc - Copy/module-analytics.PropHazards.html
/nodedoc - Copy/module-analytics.RecLinReg.html
/nodedoc - Copy/module-analytics.RidgeReg.html
/nodedoc - Copy/module-analytics.SVC.html
/nodedoc - Copy/module-analytics.SVR.html
/nodedoc - Copy/module-analytics.Sigmoid.html
/nodedoc - Copy/module-analytics.html
/nodedoc - Copy/module-datasets.html
/nodedoc - Copy/module-fs.FIn.html
/nodedoc - Copy/module-fs.FOut.html
/nodedoc - Copy/module-fs.html
/nodedoc - Copy/module-ht.IntFltMap.html
/nodedoc - Copy/module-ht.IntIntMap.html
/nodedoc - Copy/module-ht.IntStrMap.html
/nodedoc - Copy/module-ht.StrFltMap.html
/nodedoc - Copy/module-ht.StrIntMap.html
/nodedoc - Copy/module-ht.StrStrMap.html
/nodedoc - Copy/module-ht.html
/nodedoc - Copy/module-la.BoolVector.html
/nodedoc - Copy/module-la.IntVector.html
/nodedoc - Copy/module-la.Matrix.html
/nodedoc - Copy/module-la.SparseMatrix.html
/nodedoc - Copy/module-la.SparseVector.html
/nodedoc - Copy/module-la.StrVector.html
/nodedoc - Copy/module-la.Vector.html
/nodedoc - Copy/module-la.html
/nodedoc - Copy/module-qm.Base.html
/nodedoc - Copy/module-qm.CircularRecordBuffer.html
/nodedoc - Copy/module-qm.FeatureSpace.html
/nodedoc - Copy/module-qm.Iterator.html
/nodedoc - Copy/module-qm.Record.html
/nodedoc - Copy/module-qm.RecordSet.html
/nodedoc - Copy/module-qm.Store.html
/nodedoc - Copy/module-qm.StreamAggr.html
/nodedoc - Copy/module-qm.html
/nodedoc - Copy/module-statistics.html
/nodedoc - Copy/pictures/merger.gif
/nodedoc - Copy/qminer_aggrdoc.js
/nodedoc - Copy/qminer_aggrdoc.js.html
/nodedoc - Copy/qminerdoc.js
/nodedoc - Copy/qminerdoc.js.html
/nodedoc - Copy/scripts/jquery.cookie.js
/nodedoc - Copy/scripts/jquery.min.js
/nodedoc - Copy/scripts/jsdoc-toc.js
/nodedoc - Copy/scripts/lang-css.js
/nodedoc - Copy/scripts/linenumber.js
/nodedoc - Copy/scripts/prettify.js
/nodedoc - Copy/scripts/scrollanchor.js
/nodedoc - Copy/scripts/tree.jquery.js
/nodedoc - Copy/statdoc.js
/nodedoc - Copy/statdoc.js.html
/examples/timeseries/sandbox/timeseries/more
/examples/timeseries/sandbox/timeseries/tesi.txt
/examples/timeseries/sandbox/timeseries/test
/examples/timeseries/sandbox/timeseries/vec
/examples/updatingTimeseriesPlot/init.sh
/examples/updatingTimeseriesPlot/plot.html
/examples/updatingTimeseriesPlot/test.sh
/src/nodejs/scripts/analytics - Old.js
/src/nodejs/scripts/metrics-old-test.js
/src/nodejs/scripts/metrics-run.js
/src/nodejs/scripts/metrics-test.js
/src/nodejs/datasets/data/iris - Copy.csv
/src/nodejs/datasets/mario_example.js
/src/nodejs/evaluation.todo/evaluation.js
/src/nodejs/la/test-mat.bin
/src/nodejs/la/test-vec.bin
/src/qminer/gui/visualization_templates/highCharts_ts2.html
/src/qminer/gui/visualization_templates/highCharts_ts_array.html
/test/nodejs/dwdw/jointest.js
/test/nodejs/metrics-old.js
/todo.txt
