# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# project files folder
project

# Autoconf
config.log

# NPM
npm-debug.log

# project files from Eclipse
.project
.cproject
.settings
.metadata
# project files from NetBeans
nbproject

# build results
build
doc
Doxyfile-tmp
log-doxygen.txt
temp

qm.conf
db
*.dat
*.opensdf
*.sdf
*.lib
*.user
*.suo
Debug
Release
lock
jsdoc_1.txt
jsdoc_2.txt
/examples/twitter/sandbox/twitter/1h_tweets.json
/examples/twitter/sandbox/twitter/graph1.gv
/examples/twitter/sandbox/twitter/graph2.gv
/examples/twitter/sandbox/twitter/svmFilter.bin
/examples/twitter/sandbox/twitter/svmSentiment.bin
timeseriesHack
twitterHack
.DS_store
/qminer.aps
/qminer.rc
/resource.h
/test/javascript/tesi.batjavascriptdebug
javascriptdebug

linalg - Copy

timeseries - Copy

tesi
/src/glib/net/sock - novak.h

/src/qminer/intellisense/backup_linalg_handmade.txt
/src/qminer/intellisense/cut_out.txt
/src/qminer/intellisense/intelli_body.js
/src/qminer/intellisense/intelli_body2.js
/src/qminer/intellisense/intelli_head.js_
/src/qminer/intellisense/intelli_tail_old.js
/src/qminer/intellisense/intellisense.js
/src/qminer/intellisense/intellitesiOut.js
/src/qminer/intellisense/intellitesi_body.js
/src/qminer/intellisense/problems.js
/src/qminer/intellisense/test.py
/src/qminer/intellisense/time.primer

unique_fields

timeseriesPlot - Copy

timeseries - Copy (2)

old

/examples/graphextract/cobisg.txt

bug

quax
elycite

symphony

symphony-code

out
/test/cpp/run-all-tests
/test/cpp/test1.txt
/test/cpp/test.txt
cha

.DC_Store
autom4te.cache
autom4te.cache
