# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# project files from various SDKs
.project	# eclipse
.cproject	# eclipse
.settings	# eclipse
nbproject	# netbeans

# build results
build
doc
Doxyfile-tmp
log-doxygen.txt
temp

# test partial results
qm.conf
db
*.dat
*.opensdf
*.sdf
*.lib
*.user
*.suo
Debug

Release
lock
jsdoc_1.txt
jsdoc_2.txt
/examples/twitter/sandbox/twitter/1h_tweets.json
/examples/twitter/sandbox/twitter/graph1.gv
/examples/twitter/sandbox/twitter/graph2.gv
/examples/twitter/sandbox/twitter/svmFilter.bin
/examples/twitter/sandbox/twitter/svmSentiment.bin
timeseriesHack
twitterHack
/qminer.aps
/qminer.rc
/resource.h
/test/javascript/tesi.batjavascriptdebug
javascriptdebug
