html, body {
    height: 100%;
    
}

html {
    display: table;
    margin: auto;
    width: 80%;
}

body
{
    display: table-cell;
    font-family: Tahoma;
    vertical-align: middle;
}

h1 {
    text-align: center;
}

div .statSmooth .resampler {
    width: 100%;
    height: 400px;
    margin: 0 auto;
}